/*--For css-tooltip page--*/
/*--*/
div.tooltip {
    display:inline-block;
    position:relative;
    /*border-bottom:1px dotted #333;*/
    text-align:left;
    opacity:1;
    z-index:1;

}

div.tooltip h3 {margin:12px 0;}
div.tooltip ul {padding-left:20px;}
/*--*/
/*--top--*/
div.tooltip .top {
    min-width:200px;
    max-width:400px;
    top:-20px;
    left:50%;
    transform:translate(-30%,-100%);
    padding:10px 20px;
    color:#ffffff;
    background-color:#333;
    font-weight:normal;
    font-size:14px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

div.tooltip:hover .top {
    display:block;
}

div.tooltip .top i {
    position:absolute;
    top:100%;
    left:30%;
    margin-left:-15px;
    width:30px;
    height:15px;
    overflow:hidden;
}

div.tooltip .top i::after {
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#009cdc;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

/*--right--*/
div.tooltip .right {
    min-width:260px;
    max-width:400px;
    top:100%;
    right:100%;
    margin-top:40px;
    margin-right:20px;
    transform:translate(0, -50%);
    padding:0;
    color:#EEEEEE;
    background-color:#333;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

div.tooltip:hover .right {
    visibility:visible; opacity:1;
}

div.tooltip .right img {
    width:400px;
    border-radius:8px 8px 0 0;
}
div.tooltip .text-content {
    padding:10px 20px;
}

div.tooltip .right i {
    position:absolute;
    top:20px;
    left:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}
div.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#444444;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

/*--bottom--*/
div.tooltip .bottom {
    min-width:200px;
    /*max-width:400px;*/
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:20px;
    color:#666666;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

div.tooltip:hover .bottom {
    display:block;
}

div.tooltip .bottom img {
    width:400px;
}

div.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

div.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

/*--left--*/
div.tooltip .left {
    min-width:200px;
    max-width:400px;
    top:50%;
    right:100%;
    margin-right:20px;
    transform:translate(0, -50%);
    padding:20px;
    color:#666666;
    background-color:#FFFFE0;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    display:none;
    border:1px solid #DCA;
}

div.tooltip:hover .left {
    display:block;
}

div.tooltip .left i {
    position:absolute;
    top:50%;
    left:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

div.tooltip .left i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    background-color:#FFFFE0;
    border:1px solid #DCA;
}
div.tooltip:hover {
    cursor: pointer;
}
/*--end--*/
