
@using System.Security.Claims

<li class="dropdown dropdown-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img width="28" height="30" class="img-circle" src="~/Content/images/avatar.jpg" />
        @*~/Content/images/avatar.jpg*@
        <span class="username username-hide-on-mobile"> admin </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li class="">
            <a href="@Url.Action("userinfoupdate", "usermanagement")">
                <i class="icon-user"></i>Thông tin người dùng
            </a>
        </li>
        <li class="">
            <a onclick="$$$changePass.onChangePass()">
                <i class="icon-refresh"></i>Thay đổi mật khẩu
            </a>
        </li>
        <li class="hidden">
            <a href="#">
                <i class="icon-question"></i>Thay đổi câu hỏi bảo mật
            </a>
        </li>
        <li class="divider hidden"> </li>
        <li>
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <i class="icon-key"></i> Đăng xuất
            </a>

        </li>
    </ul>
</li>
