<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-6 c-bg-grey-1">
    <div class="c-prefooter c-bg-white">
        <div class="c-body container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="c-content-title-1 c-title-md">
                        <h3 class="c-title c-font-uppercase c-font-bold">THƯ VIỆN TRƯỜNG THPT</h3>
                        <div class="c-line-left hide"></div>
                    </div>
                    <p class="c-address c-font-16">
                        Địa chỉ: Số 25, Đường ADB, Phường An Phú, Q2, Thành phố HCM
                        <br /> Điện thoại: 800 123 3456
                        <br /> Email:
                        <a href="mailto:thuvien.belib@gmail.com ">
                            <span class="c-theme-color">thuvien.belib@gmail.com</span>
                        </a>
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="c-content-title-1 c-title-md">
                        <h4 class="c-title c-font-uppercase c-font-bold">LIÊN KẾT NHANH</h4>
                        <div class="c-line-left hide"></div>
                    </div>

                    <ul class="c-links c-theme-ul">
                        <li>
                            <a href="/"><i class="fa fa-home"></i> Trang chủ</a>
                        </li>
                        <li>
                            <a href="/webportal/news"><i class="fa fa-info-circle"></i> Giới thiệu</a>
                        </li>
                        <li>
                            <a href="/webportal/news"><i class="fa fa-newspaper-o"></i> Tin tức</a>
                        </li>
                        <li>
                            <a href="/webportal/contact"><i class="fa fa-phone"></i> Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="c-postfooter c-bg-dark-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 c-col">
                    <p class="c-copyright c-font-grey">
                        Copyright © 2021 BTEC Inc.
                        <span class="c-font-grey-3">All rights reserved</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>